/* Tab Bar Styles */
.tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
  background: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.tab-item {
  text-align: center;
  cursor: pointer;
}

.tab-item img {
  width: 28px;
}

.tabbar .tab-item.active img {
  opacity: 1;
  filter: invert(52%) sepia(78%) saturate(600%) hue-rotate(230deg) !important;
}

.tab-item p {
  margin: 4px 0 0;
  font-size: 13px;
}

.tabbar .tab-item.active p {
  color: #b299ff !important;
  font-weight: bold;
}